.about-container {
  background-color: transparent;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out;
}

.about-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.about-container p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .about-container {
    padding: 15px;
  }

  .about-container p {
    font-size: 1em;
  }

  .about-container h1 {
    font-size: 1.1em;
    margin-bottom: 1px;
    color: var(--primary-color);
  }
}