.footer {
  background-color: var(--secondary-color);
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 1s forwards; 
}

.footer-content p {
  margin: 2px 0;
  font-size: 10px;
  color: var(--text-color);
}

.footer a {
  color: var(--primary-color);
  font-size: 8px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@keyframes fadeInUp {
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}
