.services-section {
  background-color: transparent;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out;
}

.services-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  background-color: var(--background-color);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: auto;
    margin: 10px;
  }
}

/* Additional adjustments for very small screens */
@media (max-width: 480px) {
  .service-card {
    width: auto;
    margin: 10px;
  }
}
