.services-section {
  background-color: var(--secondary-color);
  padding: 40px 20px;
  margin-top: 50px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  background-color: var(--background-color);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: auto;
    margin: 10px;
  }
}

/* Additional adjustments for very small screens */
@media (max-width: 480px) {
  .service-card {
    width: auto;
    margin: 10px;
  }
}
