:root {
  --primary-color: #6d5938; /* Gold */
  --secondary-color: #edead7; /* Beige */
  --text-color: #333; /* Dark text color for contrast */
  --background-color: #ffffff00; /* Background color for sections */
}

/* body {
  background: radial-gradient(var(--primary-color),var(--secondary-color));
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
} */

body{
  background-image: url('../assets/back2.png');
  background-size: cover; /* Adjust to fit your needs */
  background-position: center; /* Adjust to fit your needs */
  /* Other styles remain the same */
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
