:root {
  --primary-color: #a28757; /* Gold */
  --secondary-color: #edead7; /* Beige */
  --text-color: #333; /* Dark text color for contrast */
  --background-color: #fff; /* Background color for sections */
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


