@import "./css/Theme.css";

/* Add any other global styles here */

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
